footer {
    text-align: center;
    font-size: 0.6em;
}

body {
    font-family: Cantarell, sans;
}

#current-data {
    font-size: 2em;
    border: 2px solid black;
    text-align: center;
    padding: 4px;
}
